

.MultiSelect {
  width: 100%;

  .selection-container {
    border-radius: 4px;
    border: solid 1px white;
    background-color: #3b3b3b;
    color: white;

    .search-input {
      width: 70px;
      color: white;
      background-color: #3b3b3b;
      outline: none;
      border: none;
    }

    .arrow-static {
      width: 12px;
      height: 12px;
      right: 4px;
    }
    .selection-tag {
      width: 64px;
      height: 20px;
      margin: 0 4px 1px;
      padding: 0 4px;
      border-radius: 2px;
      background-color: #777b80;

      .selection-tag-label {
        width: 54px;
      }
    }


  }
  .select-options-container {
    width: 100%;
    background-color: #545b64;
    color: white;
    border: 0px;
    outline: 0px;

    .select-option {
      padding: 8px 68px 8px 32px;

    }

    .select-option:hover {
      padding: 8px 68px 8px 32px;
      background-color: #777b80;
    }
  }
}










